.bookingModal {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 32px;
    width: 100%;

    .title {
        text-align: center;
        font-weight: 700;
        font-size: 24px;
        line-height: 30px;
        max-width: 250px;
    }

    .calendar {
        box-shadow: var(--box-shadow);
        border-radius: 8px;
        .navigation {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            margin-bottom: 45px;
            margin-top: 25px;
            padding: 0 22px;
            .selectMonth {
                color: var(--black43);
            }
            .changeMonthWrapper {
                display: flex;
                img {
                    cursor: pointer;
                    margin-left: 12px;
                }
            }
        }
        .dayMatrix {
            display: grid;
            grid-template-columns: repeat(7, minmax(32px, 1fr));
            padding: 0 16px;
        }
    }
    .submitBtn {
        width: 100%;
        height: 52px;
        background: var(--orange-gradient);
        border-radius: 30px;
        border: none;
        font-family: 'Montserrat', serif;
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 18px;
        letter-spacing: 0.2px;
        text-transform: uppercase;
        cursor: pointer;
        color: var(--whiteMain);

        &:disabled {
            background: var(--black5);
            border: 1px solid var(--black20);
            color: var(--black43);
            cursor: auto;
        }

        &:disabled:hover {
            border: 1px solid var(--black43);
            box-shadow: var(--box-shadow-hover);
        }

        &:hover {
            border: 1px solid var(--light-orange);
            box-shadow: var(--box-shadow-hover);
        }

        &:active {
            box-shadow: var(--box-shadow-active);
        }
    }
    .cancelBooking {
        color: var(--black100);
        background: var(--whiteMain);
        border: 1px solid var(--black20);
        &:hover {
            border: 1px solid var(--black40);
            box-shadow: var(--box-shadow-hover);
        }
    }
}
