.bookListWrapper {
    margin-left: 6px;
    margin-top: 7px;
    padding-bottom: 60px;
    max-width: 825px;
    width: 100%;

    .windowStyle {
        display: flex;
        max-width: 825px;
        column-gap: 21.5px;
        row-gap: 24px;
        flex-wrap: wrap;
    }

    .listStyle {
        display: flex;
        flex-direction: column;
        max-width: 825px;
        row-gap: 16px;
    }
}

@media (max-width: 1439px) {
    .bookListWrapper {
        .windowStyle {
            max-width: 825px;
            justify-content: center;
        }

        .listStyle {
            max-width: 825px;
            justify-content: center;
        }
    }
}

@media (max-width: 768px) {
    .bookListWrapper {
        margin-left: 6px;
        margin-top: 0;
        padding-bottom: 60px;

        .windowStyle {
            display: flex;
            max-width: 640px;
            column-gap: 35px;
            row-gap: 40px;
            flex-wrap: wrap;
        }

        .listStyle {
            display: flex;
            flex-direction: column;
            max-width: 640px;
            row-gap: 16px;
        }
    }
}

@media (max-width: 550px) {
    .bookListWrapper {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}

@media (max-width: 320px) {
    .bookListWrapper {
        margin-left: 6px;
        margin-top: 7px;
        padding-bottom: 60px;

        .windowStyle {
            display: flex;
            max-width: 288px;
            column-gap: 21.5px;
            row-gap: 24px;
            flex-wrap: wrap;
        }

        .listStyle {
            display: flex;
            flex-direction: column;
            max-width: 288px;
            row-gap: 16px;
        }
    }
}
