.reviewItemWrapper {
    overflow: hidden;
    .reviewItem {
        .reviewItemHeader {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 24px;
            padding-bottom: 16px;

            .reviewItemAvatar {
                width: 32px;
                height: 32px;
                border-radius: 50%;
            }

            .reviewItemInfo {
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                align-items: center;
                letter-spacing: 0.1px;
                color: var(--black40);

                span {
                    padding-left: 24px;
                }
            }
        }

        .bookRating {
            gap: 12px;
        }

        .reviewItemFeedback {
            margin-top: 16px;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0.1px;
            color: var(--black100);
        }
    }
}

@media (max-width: 320px) {
    .reviewItemWrapper {
        .reviewItem {
            .reviewItemHeader {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 18px;
                padding-bottom: 12px;

                .reviewItemAvatar {
                    width: 32px;
                    height: 32px;
                }

                .reviewItemInfo {
                    font-size: 15px;
                    line-height: 20px;
                    align-items: center;
                    width: 154px;

                    span {
                        display: block;
                        padding-left: 0;
                    }
                }
            }

            .reviewItemFeedback {
                width: 288px;
                margin-top: 6px;
                font-size: 15px;
                line-height: 20px;
                letter-spacing: 0.1px;
            }
        }
    }
}
