.book-link-wrapper {
    width: 100%;
    display: flex;
    background: var(--milk-color);
    height: 64px;
    margin-top: 34px;
    .book-link {
        display: flex;
        width: 100%;
        align-items: center;
        z-index: 10;
        &-text {
            font-weight: 400;
            font-size: 14px;
            line-height: 18px;
            color: var(--gray-color);
            position: absolute;
            span {
                padding-left: 15px;
                padding-right: 15px;
                font-size: 18px;
            }
        }
    }
    .book-link-background{
        background: var(--milk-color);
        height: 64px;
        width: 100%;
        position: absolute;
        left: 0;
    }
}

@media (max-width: 768px) {
    .book-link-wrapper {
        height: 88px;
        margin-top: 28px;
        .book-link {
            margin-left: 15px;
            max-width: 640px;
            &-text {
                line-height: 22px;
                position: relative;
                span {
                    padding-left: 10px;
                    padding-right: 10px;
                }
            }
        }
    }
}

@media (max-width: 320px) {
    .book-link-wrapper {
        height: 92px;
        margin-top: 0;
        .book-link {

            width: 288px;
            &-text {
                font-size: 12px;
                line-height: 18px;
            }
        }
    }
}
