.bookLinkWrapper {
    width: 100%;
    display: flex;
    background: var(--black5);
    height: 64px;
    margin-top: 34px;
}

.bookLink {
    display: flex;
    width: 100%;
    align-items: center;
    z-index: 8;
}

.linkText {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: var(--black43);
}

.breadcrumbsSlash {
    padding-left: 15px;
    padding-right: 15px;
    font-size: 18px;
}

.linkBg {
    background: var(--black5);
    height: 64px;
    width: 100%;
    position: absolute;
    left: 0;
}

@media (max-width: 768px) {
    .bookLinkWrapper {
        height: 88px;
        margin-top: 28px;
    }
    .bookLink {
        margin-left: 15px;
        max-width: 640px;
    }
    .linkText {
        line-height: 22px;
        span {
            padding-left: 10px;
            padding-right: 10px;
        }
    }
    .linkBg {
        height: 88px;
    }
}

@media (max-width: 320px) {
    .bookLinkWrapper {
        height: 92px;
        margin-top: 0;
    }
    .bookLink {
        width: 288px;
    }
    .linkText {
        font-size: 12px;
        line-height: 18px;
    }
    .linkBg {
        height: 92px;
    }
}
