.header {
    display: flex;
    width: 100%;
    justify-content: center;

    &Bar {
        max-width: 1110px;
        margin-top: 40px;
        width: 100%;
        height: 58px;
        display: flex;
        padding-bottom: 15px;
        flex-direction: row;
        justify-content: space-between;
        position: relative;

        .burgerMenu{
            position: relative;
            display: none;

            .menuToggle {
                opacity: 0;
            }

            .menuBtn {
                display: flex;
                align-items: center;
                position: absolute;
                top: 20px;
                width: 26px;
                height: 26px;
                cursor: pointer;
                z-index: 1;
            }

            .menuBtn > span,
            .menuBtn > span::before,
            .menuBtn > span::after {
                display: block;
                position: absolute;
                width: 100%;
                height: 2px;
                background-color: #616161;
            }

            .menuBtn > span::before {
                content: '';
                top: -8px;
            }

            .menuBtn > span::after {
                content: '';
                top: 8px;
            }

            .menuToggle:checked ~ .menuBtn > span {
                transform: rotate(45deg);
                background: var(--orange-gradient);
            }

            .menuToggle:checked ~ .menuBtn > span::before {
                top: 0;
                transform: rotate(0);
                background: var(--orange-gradient);
            }

            .menuToggle:checked ~ .menuBtn > span::after {
                top: 0;
                transform: rotate(90deg);
                background: var(--orange-gradient);
            }

            .menuToggle:checked ~ .menuBtn {
                visibility: visible;
                left: 0;
            }

            .menuToggle:checked ~ .menuBtn > span {
                transform: rotate(45deg);
            }

            .menuToggle:checked ~ .menuBtn > span::before {
                top: 0;
                transform: rotate(0);
            }

            .menuToggle:checked ~ .menuBtn > span::after {
                top: 0;
                transform: rotate(90deg);
            }

            .menuToggle:checked ~ .menu-box {
                visibility: visible;
                left: 0;
            }

            .menuBtn > span,
            .menuBtn > span::before,
            .menuBtn > span::after {
                transition-duration: .25s;
            }

            .menu-box {
                transition-duration: .25s;
            }

            .menu-item {
                transition-duration: .25s;
            }
        }

        .headerTitle {
            font-weight: 700;
            font-size: 32px;
            line-height: 40px;
            margin-left: -150px;
            color: var(--black100);
        }

        .welcomeWrapper {
            display: flex;
            flex-direction: row;
            align-items: center;
            cursor: pointer;

            .welcomeTitle {
                font-weight: 600;
                font-size: 14px;
                line-height: 18px;

                text-align: right;
                letter-spacing: 0.1px;
                color: var(--black100);
            }

            .userAvatar {
                margin-left: 8px;
                width: 68px;
                height: 68px;
                border-radius: 50%;
            }
        }
    }
    .contextMenu {
        position: absolute;
        width: 270px;
        height: 0;
        visibility: hidden;
        box-shadow: 4px 4px 4px rgba(54, 54, 54, 0.05), -4px 4px 4px rgba(54, 54, 54, 0.05);
        border-radius: 0px 0px 10px 10px;
        background: var(--whiteMain);
        margin-top: 58px;
        z-index: 11;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        padding: 32px 24px;
        row-gap: 32px;
        right: 0;

        .contextLink{
            font-weight: 700;
            font-size: 0px;
            line-height: 28px;
            color: var(--black100);
            transition: 0.3s;

        }
        .contextLink:hover {
            color: #FF5253;
            transition: 0.3s;
        }
        .activeLink {
            font-size: 18px;
        }
    }
    .activeContext {
        visibility: visible;
        transition: 0.3s;
        height: 152px;
    }
}

.activeHeader {
    box-shadow: 4px 4px 4px rgba(54, 54, 54, 0.05), -4px 4px 4px rgba(54, 54, 54, 0.05);
}

@media (max-width: 899px) {
    .header {
        padding: 0 64px;
        &Bar {
            justify-content: normal;
            margin-top: 32px;

            .logo {
                display: none;
            }

            .burgerMenu {
                display: block;
            }

            .headerTitle {
                margin-top: 13px;
                margin-left: 24px;
            }

            .welcomeWrapper {
                display: none;
            }
        }
        .contextMenu {
            display: none;
        }
    }
}

@media (max-width: 500px) {
    .header {
        &Bar {
            .headerTitle {
                margin-left: 14px;
                font-size: 17px;
                margin-top: 18px;
                line-height: 28px;
            }
        }
    }
}

@media (max-width: 320px) {
    .header {
        padding: 0 16px;
        &Bar {
            margin-top: 24px;
            justify-content: normal;

            .logo {
                display: none;
            }

            .burgerMenu {

                .menuToggle {
                    opacity: 0;
                }

                .menuBtn {
                    top: 13px;
                    width: 20px;
                    height: 20px;
                }

                .menuBtn > span::before {
                    content: '';
                    top: -6px;
                }

                .menuBtn > span::after {
                    content: '';
                    top: 6px;
                }
            }

            .headerTitle {
                font-size: 18px;
                margin-top: 10px;
                margin-left: 24px;
            }

            .welcomeWrapper {
                display: none;
            }
        }
    }
}
