.bookRating {
    display: flex;
    flex-direction: row;
    gap: 6px;
    img {
        width: 24px;
        height: 24px;
    }
}

@media (max-width: 600px) {
    .bookRating {
        gap: 12px;

        img {
            width: 16px;
            height: 16px;
        }
    }
}
