.hint {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    margin-left: 12px;
    margin-top: 4px;
    color: var(--gray-color);

    &.fullColor {
        color: var(--form-error-color);
    }

    .highlight {
        &.active {
            color: var(--form-error-color);
        }
    }
}
