.hint {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    margin-left: 12px;
    letter-spacing: 0.2px;
    margin-top: 4px;
    color: var(--black43);

    &.fullColor {
        color: var(--negative);
    }

    .highlight {
        &.active {
            color: var(--negative);
        }
    }
}
