.loginWrapper {
    .login {
        width: 528px;
        margin-top: 46px;
        background: var(--whiteMain);
        border-radius: 16px;
        padding: 48px 56px;

        &Title {
            font-weight: 700;
            font-size: 24px;
            line-height: 30px;
            color: var(--black100);
        }


        .forgotLink {
            margin-left: 12px;
            font-weight: 400;
            font-size: 12px;
            line-height: 24px;
            letter-spacing: 0.1px;
            color: var(--black43);

            &.error {
                color: var(--negative);
            }
        }

        .errorMessage {
            color: var(--negative);
            font-size: 12px;
            margin-top: 16px;
            line-height: 16px;
            font-weight: 500;
            margin-left: 12px;
            display: none;

            &.visibleError {
                display: block;
            }
        }


        .accountNotExist {
            margin-top: 16px;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0.1px;
            color: var(--black43);
            display: flex;
            flex-direction: row;
            align-items: center;
            column-gap: 10px;

            .registrationLink {
                font-weight: 600;
                font-size: 12px;
                line-height: 18px;
                letter-spacing: 0.2px;
                text-transform: uppercase;
                color: var(--black100);
                display: flex;
                flex-direction: row;
                align-items: center;
                column-gap: 10px;
            }
        }
    }
}

.loginForm {
    width: 100%;
}


.modalTitle {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: var(--black100);
}

.modalMessage {
    margin-top: 32px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: var(--black100);
    text-align: center;
}

.submitBtn {
    width: 100%;
    height: 52px;
    margin-top: 17px;
    background: linear-gradient(231.58deg, #F83600 -53.35%, #F9D423 297.76%);
    border-radius: 20px;
    border: none;
    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.2px;
    text-transform: uppercase;
    cursor: pointer;
    color: var(--whiteMain);
}

.submitBtn:disabled {
    background: #F9F9FA;
    border: 1px solid #BFC4C9;
    color: var(--black43);
    cursor: auto;
}

@media (max-width: 600px) {
    .loginWrapper {
        .login {
            margin-top: 4px;
            width: 288px;
            padding: 24px 16px;

            &Form {

                .forgotLink {
                    margin-left: 0;
                }
            }

            .accountNotExist {
                flex-direction: column;
                align-items: unset;
            }
        }
    }
}
