.forgotWrapper {
    .forgot {
        width: 528px;
        margin-top: 46px;
        background: var(--whiteMain);
        border-radius: 16px;
        padding: 48px 56px;

        &Title {
            font-weight: 700;
            font-size: 24px;
            line-height: 30px;
            color: var(--black100);
        }

        .activeNav {
            margin-top: 32px;
        }

        .loginNav {
            display: flex;
            position: absolute;
            color: var(--black40);
            background: var(--black5);
            align-items: center;
            width: 528px;
            height: 64px;
            border-radius: 16px 16px 0 0;
            padding: 20px 16px;
            margin-top: -48px;
            margin-left: -56px;

            .loginLink {
                display: flex;
                flex-direction: row;
                align-items: center;
                column-gap: 16px;
                font-weight: 600;
                font-size: 12px;
                line-height: 18px;
                letter-spacing: 0.2px;
                text-transform: uppercase;
            }
        }

        .hint {
            font-weight: 500;
            font-size: 12px;
            line-height: 16px;
            margin-left: 12px;
            margin-top: 4px;
            color: var(--black43);
        }

        .hintError {
            font-weight: 500;
            font-size: 12px;
            line-height: 16px;
            margin-left: 12px;
            margin-top: 4px;
            color: var(--negative);
        }

        .info {
            margin-top: 16px;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0.1px;
            color: var(--black43);
        }

        .accountNotExist {
            margin-top: 16px;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0.1px;
            color: var(--black43);
            display: flex;
            flex-direction: row;
            align-items: center;
            column-gap: 10px;

            .registrationLink {
                font-weight: 600;
                font-size: 12px;
                line-height: 18px;
                letter-spacing: 0.2px;
                text-transform: uppercase;
                color: var(--black100);
                display: flex;
                flex-direction: row;
                align-items: center;
                column-gap: 10px;
            }
        }
    }
}

.modalTitle {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: var(--black100);
    text-align: center;
}

.modalMessage {
    margin-top: 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: var(--black100);
    text-align: center;
}

.submitBtn {
    width: 100%;
    height: 52px;
    margin-top: 17px;
    background: var(--orange-gradient);
    border-radius: 20px;
    border: none;
    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.2px;
    text-transform: uppercase;
    cursor: pointer;
    color: var(--whiteMain);

    &:disabled {
        background: var(--black5);
        border: 1px solid var(--black20);
        color: var(--black43);
        cursor: auto;
    }

    &:disabled:hover {
        border: 1px solid var(--black43);
        box-shadow: var(--box-shadow-hover);
    }

    &:hover {
        border: 1px solid #FF740F;
        box-shadow: var(--box-shadow-hover);
    }

    &:active {
        box-shadow: var(--box-shadow-active);
    }
}

.forgotForm {
    width: 100%;
}

@media (max-width: 600px) {
    .forgotWrapper {
        .forgot {
            margin-top: 4px;
            width: 288px;
            padding: 24px 16px;

            .activeNav {
                margin-top: 64px;
            }

            .loginNav {
                width: 288px;
                padding: 20px 16px;
                margin-top: -24px;
                margin-left: -16px;

                .loginLink {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    column-gap: 16px;
                    font-weight: 600;
                    font-size: 12px;
                    line-height: 18px;
                    letter-spacing: 0.2px;
                    text-transform: uppercase;
                }
            }

            .accountNotExist {
                flex-direction: column;
                align-items: unset;
            }

            .info {
                font-size: 15px;
                line-height: 20px;
            }
        }
    }
    .modalTitle {
        font-size: 18px;
        line-height: 28px;
    }

    .modalMessage {
        font-size: 15px;
        line-height: 20px;
    }


}
