.authWrapper{
    width: 100%;
    min-height: 100vh;
    background: var(--orange-gradient);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .authTitle {
        font-weight: 700;
        font-size: 32px;
        line-height: 40px;
        color: var(--whiteMain);
    }
}

@media (max-width: 600px) {
    .authWrapper {
       justify-content: flex-start;
        .authTitle {
            margin-top: 16px;
        }
    }
}
