.slider {
    display: flex;
    flex-direction: column;
    width: 445px;
    height: 710px;

    .slider-wrapper {
        width: 100%;
        height: 594px;
        border-radius: 10px;
    }

    .thumbs-wrapper {
        height: 100px;
        max-width: 100%;
        margin-top: 16px;


        .thumbs-item {
            min-width: 65px;
            max-width: 65px;
            height: 86px;
            border: 1px solid var(--gray-color);
            border-radius: 3px;
        }
    }
}

.shadow {
    position: absolute;
    width: 445px;
    height: 88px;
    margin-top: 608px;
    background: linear-gradient(to right, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 20%,rgba(255,255,255,0) 80%, rgba(255,255,255,1) 100%);
    z-index: 500;
    pointer-events: none;
}

@media (max-width: 768px) {
    .slider {
        display: flex;
        flex-direction: column;
        width: 136px;
        height: 238px;

        .slider-wrapper {
            width: 100%;
            min-height: 100%;
            border-radius: 3px;
            .main-slide {
                img {
                    height: 198px;
                }
            }
        }

        .thumbs-wrapper {
            visibility: hidden;
            width: 0;
            height: 0;
        }
    }
    .shadow {
        display: none;
    }
}

@media (max-width: 320px) {
    .slider {
        display: flex;
        flex-direction: column;
        width: 188px;
        height: 290px;

        .slider-wrapper {
            border-radius: 5px;
            .main-slide {
                img {
                    height: 260px;
                }
            }
        }
    }
}
