.inputWrapper {
    position: relative;
    .input {
        border: none;
        background: var(--black5);
        color: var(--black100);
        border-bottom: var(--black43) 1px solid;
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
        outline: none;
        height: 56px;
        width: 100%;
        margin-top: 16px;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        padding-left: 12px;
        padding-top: 5px;
        transition: 0.2s;
        position: relative;
    }

    .placeholder {
        color: var(--black100);
        position: absolute;
        left: 12px;
        margin-top: 37px;
        transition: 0.2s;
        pointer-events: none;

        &.focus {
            transform: translateY(-15px);
            font-weight: 500;
            font-size: 12px;
            line-height: 16px;
            transition: 0.2s;
            color: var(--black43);
        }
    }

    .inputError {
        border-bottom: var(--negative) 1px solid;
        transition: 0.2s;
    }

    .errorPhone {
        font-weight: 500;
        font-size: 12px;
        line-height: 16px;
        margin-left: 12px;
        margin-top: 4px;
        color: var(--black43);

        &.active {
            color: var(--negative);
        }
    }

    .error {
        font-weight: 500;
        font-size: 12px;
        line-height: 16px;
        margin-left: 12px;
        margin-top: 4px;
        letter-spacing: 0.2px;
        color: var(--black43);
        display: none;

        &.visibleError {
            color: var(--negative);
            display: block;
        }

        &.hideError {
            display: none;
        }
    }

    .checkPassImg {
        position: absolute;
        top: 30px;
        right: 40px;
        width: 25px;
    }

    .eyeImg {
        position: absolute;
        top: 30px;
        right: 10px;
        width: 25px;
        cursor: pointer;
    }
}
