.ModalWrapper{
    width: 528px;
    margin-top: 135px;
    background: var(--white-color);
    border-radius: 16px;
    padding: 48px 56px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
