
.slider {
    margin-top: 32px;
    position: relative;
    min-height: 218px;
    .swiperWrapper {
        height: 518px;
    }
}

@media (max-width: 320px) {
    .swiperWrapper {
        min-width: 292px;
        padding-left: 2px;
    }
}
