.modalShadow{
    width: 100%;
    min-height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    backdrop-filter: blur(3px) brightness(60%);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 20;
}

.modalWrapper {
    width: 528px;
    background: var(--whiteMain);
    border-radius: 16px;
    padding: 48px 56px;
    z-index: 30;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.closeBtn {
    position: absolute;
    top: 32px;
    right: 32px;
    width: 48px;
    height: 48px;
    border: none;
    background: var(--black5);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: var(--box-shadow);
    cursor: pointer;
    &:hover {
        box-shadow: var(--box-shadow-hover);
    }
    &:active {
        box-shadow: var(--box-shadow-active);
    }
    img {
        width: 24px;
        height: 24px;
    }
}

@media (max-width: 600px) {

    .modalWrapper {
        width: 288px;
        padding: 42px 16px;
    }
    .closeBtn {
        position: absolute;
        top: 16px;
        right: 16px;
        width: 32px;
        height: 32px;
        img {
            width: 16px;
            height: 16px;
        }
    }
}
