.settings {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 30px;

    .search-and-sort {
        display: flex;
        flex-direction: row;
        height: 38px;

        .search-form {
            border: none;
            display: flex;
            border-radius: 5px;
            height: 100%;

            .search {
                width: 350px;
                margin: 0;
                border: none;
                padding: 9px 4px 9px 40px;
                background: transparent url('../../../../assets/book-list-settings/search.svg') no-repeat 13px center;
                font-weight: 400;
                font-size: 14px;
                line-height: 18px;
                color: var(--black43);
                caret-color: var(--orange-color);
                border-radius: 30px;
                box-shadow: 0px 2px 4px rgba(191, 196, 201, 0.2), 0px 3px 4px rgba(191, 196, 201, 0.18), 0px 1px 5px rgba(191, 196, 201, 0.24);
                transition: 0.3s;
            }

            .search-active{
                background-image: url('../../../../assets/book-list-settings/search-orange.svg');
                transition: 0.3s;
            }

            .search:focus{
                background-image: url('../../../../assets/book-list-settings/search-orange.svg');
                transition: 0.3s;

            }

            .search-btn-close {
                position: absolute;
                margin-left: 255px;
                margin-top: 5px;
                display: none;
                transform: rotate(45deg);
                width: 20px;
                height: 20px;
                font-size: 35px;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-image: linear-gradient(231.58deg, #F83600 -53.35%, #F9D423 297.76%);
                border: none;
            }

            .search::placeholder {
                font-family: 'Montserrat', serif;
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 18px;
                color: var(--black43);
            }

            .search:focus::placeholder {
                color: transparent;
                outline: none;
                border: none;
            }

            .search:focus {
                outline: none;
            }

            .search::-webkit-search-decoration,
            .search::-webkit-search-cancel-button,
            .search::-webkit-search-results-button,
            .search::-webkit-search-results-decoration {
                display: none;
            }
        }

        .search-btn-open {
            display: none;
            width: 32px;
            height: 32px;
            border-radius: 50%;
            border: none;
            background-color: var(--whiteMain);
            box-shadow: 0px 2px 4px rgba(191, 196, 201, 0.2), 0px 3px 4px rgba(191, 196, 201, 0.18), 0px 1px 5px rgba(191, 196, 201, 0.24);
        }

        .sort {
            appearance: none;
            height: 38px;
            width: 148.2px;
            margin-left: 16.9px;
            font-weight: 400;
            font-size: 14px;
            line-height: 18px;
            border-radius: 30px;
            color: var(--black43);
            display: flex;
            align-items: center;
            justify-content: space-around;
            border: none;
            background: none;
            padding: 0 10px;
            transition: 0.3s;
            cursor: pointer;
            box-shadow: 0px 2px 4px rgba(191, 196, 201, 0.2), 0px 3px 4px rgba(191, 196, 201, 0.18), 0px 1px 5px rgba(191, 196, 201, 0.24);
            .sort-icon {
                transition: 0.3s;
                transform: rotate(180deg);

            }
            .sort-icon-rotated {
                transition: 0.3s;
                transform: rotate(0deg);
            }
        }
        .sort:hover {
            transition: 0.3s;
            box-shadow: 0px 2px 5px rgba(54, 54, 54, 0.1);
        }
        .sort:active {
            transition: 0.3s;
            box-shadow: 0px 3px 4px rgba(222, 125, 11, 0.2), 0px 1px 10px rgba(249, 89, 8, 0.2);
        }
    }

    .list-style {
        display: flex;
        gap: 16px;

        .change-view-btn {
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            border: none;
            width: 38px;
            height: 38px;
            border-radius: 50%;
            background: var(--whiteMain);
            transition: 0.3s;
            box-shadow: 0px 2px 4px rgba(191, 196, 201, 0.2),0px 3px 4px rgba(191, 196, 201, 0.18), 0px 1px 5px rgba(191, 196, 201, 0.24);
        }

        .change-view-btn:hover {
            transition: 0.3s;
            box-shadow: 0px 2px 5px rgba(54, 54, 54, 0.1);
        }
        .change-view-btn:active {
            transition: 0.3s;
            box-shadow: 0px 3px 4px rgba(222, 125, 11, 0.2), 0px 1px 10px rgba(249, 89, 8, 0.2);
        }
        .gradient {
            background: linear-gradient(231.58deg, #F83600 -53.35%, #F9D423 297.76%);
        }
    }
}

.hide {
    width: 0;
    height: 0;
    visibility: hidden;
}


@media (max-width: 768px) {
    .settings {
        margin-top: 0px;
        max-width: 640px;

        .search-and-sort {
            display: flex;
            flex-direction: row;

            .search-form {

                .search {
                    width: 274px;
                }
            }

        }
    }
}

@media (max-width: 550px) {
    .settings {
        display: flex;
        width: 80%;

        .search-and-sort {
            height: 32px;
            .search-form {

                .search {
                    width: 288px;
                }
                .search-btn-close {
                    display: block;
                }

            }

            .search-btn-open {
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .sort {
                max-width: 32px;
                height: 32px;
                border-radius: 50%;
                padding: 0;
                font-size: 0;
                justify-content: center;
            }

        }
        .list-style {
            .change-view-btn {
                width: 32px;
                height: 32px;
                img {
                    width: 16px;
                    height: 16px;
                }
            }

        }
    }
}

@media (max-width: 320px) {
    .settings {
        margin-top: -11px;
        margin-left: -3px;
        display: flex;
        width: 100%;
        .search-and-sort {
            height: 32px;
            .search-form {

                .search {
                    width: 288px;
                }

                .search-btn-open {
                    width: 32px;
                    height: 32px;
                }
                .search-btn-close {
                    display: block;
                }

            }

            .search-btn-open {
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
}
