.sectionTitle {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: var(--black100);
}

.sectionDescription {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--black43);
    margin-top: 8px;
}
