@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');
@import "src/pages/book/slider/slider-styles";

:root {
    --black43: #A7A7A7;
    --black40: #727272;
    --black20: #BFC4C9;
    --whiteMain: #FFFFFF;
    --black10: #EBEBEB;
    --black5: #F9F9FA;
    --black100: #363636;
    --orange: #F83600;
    --light-orange: #FF740F;
    --accentMain: #FF5253;
    --negative: #F42C4F;
    --negtiveBg: #FEEBEA;
    --positive: #00CA71;
    --positiveBg: #EBF9F1;
    --warning: #FFBC1F;
    --plugBg: #6E76F1;
    --plugErrorBg: #FF5253;
    --box-shadow: 0px 2px 4px rgba(191, 196, 201, 0.2), 0px 3px 4px rgba(191, 196, 201, 0.18), 0px 1px 5px rgba(191, 196, 201, 0.24);
    --box-shadow-hover: 0px 2px 5px rgba(54, 54, 54, 0.1);
    --box-shadow-active: 0px 3px 4px rgba(222, 125, 11, 0.2), 0px 1px 10px rgba(249, 89, 8, 0.2);
    --orange-gradient: linear-gradient(231.58deg, #F83600 -53.35%, #F9D423 297.76%);
}

body {
    height: 100%;
    justify-content: center;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #ffffff;
    color: #363636;
    letter-spacing: 0.1px;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

a:not([class]) {
    text-decoration-skip-ink: auto;
}

img {
    max-width: 100%;
    display: block;
}

article > * + * {
    margin-top: 1em;
}

input,
button,
textarea,
select {
    padding: 0;
    font: inherit;
}

.no-scroll {
    overflow: hidden;
}
